body {
	background-color: #EAE7DC;
}
.jumbotron{
	background-color: grey;
	color:white;
}

/*--navbar--*/
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	text-align: left; 
}
#nav-bar ul li a:hover{
	color: #E85A4F!important;
}
.navbar{
	background: #D8C3A5;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}

/*--image--*/
img {
	width: 260px;
	height: 260px;
	border-radius: 50%;
	padding: 10px;

}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--text--*/
p {
  text-align: center;
}
div{
  text-align: center;
}
.greeting{
	text-align: center;
	padding: 10px;
}

